
@{
    ViewBag.Title = "Personal";
}

<a href="@Url.Action("Index","Home")">Index</a>
<a href="@Url.Action("Education","Home")">Education</a>
<a href="@Url.Action("Personal","Home")">Personal</a>
<a href="@Url.Action("Project","Home")">Projects</a>
<a href="@Url.Action("Reference","Home")">Reference</a>

<h4>Personal Information</h4>

<h4>Name:</h4>
<p>Mohammad Naimul Haque</p>

<h4>Father's Name:</h4>
<p>Md Nazmul Haque</p>

<h4>Mother's Name:</h4>
<p>Nasira Haque</p>

<h4>Blood Group:</h4>
<p>AB +ve</p>

<h4>Address:</h4>
<p>185, GRAND PLAZA, Boro Moghbazar Wireless</p>

<h4>Contact:</h4>
<p>01777777177</p>


