
@{
    ViewBag.Title = "Project";
}
<a href="@Url.Action("Index","Home")">Index</a>
<a href="@Url.Action("Education","Home")">Education</a>
<a href="@Url.Action("Personal","Home")">Personal</a>
<a href="@Url.Action("Project","Home")">Projects</a>
<a href="@Url.Action("Reference","Home")">Reference</a>

<h2>Project</h2>
<ul>
    <li>Completed Filling Station Management Project, using C# language</li>
    <li>Completed Fertilizer Inventory Management System, using Java</li>
    <li>Completed Madrasa Management, using PHP, JS, HTML</li>
</ul>




