
@{
    ViewBag.Title = "Reference";
}
<a href="@Url.Action("Index","Home")">Index</a>
<a href="@Url.Action("Education","Home")">Education</a>
<a href="@Url.Action("Personal","Home")">Personal</a>
<a href="@Url.Action("Project","Home")">Projects</a>
<a href="@Url.Action("Reference","Home")">Reference</a>

<h2>Reference</h2>



<h2>1. Umme Marzia Haque</h2>
<p>Assistant Professor, American International University Bangladesh</p>
<p>Email: <a href="mailto:umme@aiub.edu">umme@aiub.edu</a></p>



<h2>2. Zahiduddin Ahmed</h2>
<p>Assistant Professor, American International University Bangladesh</p>
<p>Email: <a href="mailto:zahid@aiub.edu">zahid@aiub.edu</a></p>

